<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phạm Đình Hoàng</title>
</head>
<body>
    <h1>Phạm Đình Hoàng Home Page</h1>
    <!-- <table>
        <tr>
            <tr>
                <td>Id</td>
                <td>Họ</td>
                <td>Tên</td>
                <td>Email</td>
                <td>Ngày Tạo</td>
                <td>Ngày Sửa</td>
            </tr>
            <tr>
                <td>
                    <%=data.id%>
                </td>
                <td>Họ</td>
                <td>Tên</td>
                <td>Email</td>
                <td>Ngày Tạo</td>
                <td>Ngày Sửa</td>
            </tr>
            
        </tr>
    </table> -->
    <p>
        <%=data %>
    </p>
   
</body>
</html>